[user]
    name = VermillionAzure 
    email = VermillionAzure@users.noreply.github.com
    username = VermillionAzure

[core]
    editor = vim

[alias]
    st = status -s -b
    s = status
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    d = diff
    dc = diff --cached
    wow = log --oneline --graph --decorate
    co = checkout
    




